<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" user-scalable="no" />
    <meta name = "keywords" content = "HTML, Meta Tags, Metadata" />


</head>

<link rel="stylesheet" href="/stylesheet/home/index.css">
<script src="https://cdn.tailwindcss.com"></script>


<body>

    <%- include('./partials/navigation.ejs') %>

        <%- body %>
      
        <script type="text/javascript" src="/javascript/init_sw.js"></script>
        <script type="text/javascript" src="/javascript/random_asset.js"></script>

</body>

</html>
